<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="google-site-verification" content="DSGiTI2Lf03gy_18eDtPF_y5wvxEZdsVgUDXef9LnEU" />
    <link rel="shortcut icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124971342-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124971342-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W4QJDZH');</script>
      <!-- End Google Tag Manager -->

    <title>Texty Marketing - Send massive promotional message easily</title>

    
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/landing-page.css") %>">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.13/semantic.min.css"> -->
  </head>

  <body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4QJDZH"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
     <!-- Preloader Start -->
     <!-- <div id="preloader">
        <div class="colorlib-load"></div>
    </div>
  -->
  <!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

    <%= render @view_module, @view_template, assigns %>


    <!--  <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.13/semantic.min.js"></script> -->
    <script type="text/javascript">
     // $(document).ready(function(){
     //   $('.welcome-thumb').slick({
     //     autoplay: true
     //   });
     // });
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
    <script>
      (function ($) {
        'use strict';
        var $window = $(window);
        $window.on('load', function () {
          $.notify({
            icon: "notifications",
            message: "Our website uses cookies to ensure you get the best experience on our website. By continuing to use this site you are giving us your consent to do this."
  
          },{
              type: 'rose',
              timer: 100000,
              placement: {
                  from: 'bottom',
                  align: 'right'
              }
          });
      });
      })(jQuery);
    </script>
  </body>
</html>
